@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Henny+Penny&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Mansalva&family=Manufacturing+Consent&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Quicksand:wght@300..700&family=Shadows+Into+Light+Two&display=swap');

body {
    background-image: url(imagens/fundo-allblack.jpg);
}

header {
    background-color: black;
    color: white;
    padding: 5px 5px 15px 5px;
}

nav {
    text-align: center;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
    transition-duration: 0.4s;
}

main {
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    text-align: center;
    padding: 5px 15px 15px 15px;
}

main > h1 {
    font-size: 3em;
    color: rgb(153, 0, 0);
}

main > img {
    border-radius: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 5px 5px 15px 5px;
    text-align: center;
}